{% extends "base.html" %}

{% block content %}
<br>
<div class="col-lg-8">
    <h2>SignUp User! </h2>
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-primary" type="submit" class="btn btn-primary" name="signup">
            </form>
        </div>
        <div class="container">
            <p>Already have an account? <a href="{% url 'login' %}"> Login</a> </p>
        </div>
</div>
{% endblock %}